@import 'mini-dark.min.css';
@import 'slider.css';

:root {
	--back-color: black;
	--notice-fore-color: hsl(0, 0%, 65%);

	--nav-back-color: hsl(0, 0%, 10%);
	--nav-hover-back-color: hsl(0, 0%, 20%);
	--header-back-color: hsl(0, 0%, 10%);
	--footer-back-color: hsl(0, 0%, 10%);
	--header-border-color: hsl(0, 0%, 50%);
	--footer-border-color: hsl(0, 0%, 50%);
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: stretch;
}

main {
	flex-grow: 1;
}

header {
	height: fit-content;
}

header nav {
	padding: 0;
	margin: 0;
	border: none;
	display: flex;
}

header nav a,
header nav a:visited {
	color: var(--a-link-color);
}

header nav .path {
	display: flex;
	gap: 0.5em;
	margin-right: auto;
}

header nav .path > * {
	padding: 0;
}

header nav .path a:hover {
	text-decoration: underline;
	background-color: inherit;
}

@media screen and (max-width: 767px) {
	header nav .path > :not(:first-child) {
		display: none;
	}
}

footer {
	text-align: center;
	margin-top: 1.5rem;
}

main.container {
	padding: 0;
	letter-spacing: 0.75rem;
	max-width: 75rem;
	--original-a-link-color: var(--a-link-color);
}

main.container > * {
	--a-link-color: var(--fore-color);
	--a-visited-color: var(--fore-color);
	--nav-link-color: var(--fore-color);
}

main.container .text {
	--a-link-color: var(--original-a-link-color);
	--a-visited-color: var(--original-a-link-color);
}

main.container nav {
	margin: 0;
	border: none;
}

main.container nav * {
	padding: 0;
}

.font-size-by-viewport {
	font-size: clamp(var(--min-font-size, 1.25rem), var(--adaptive-font-size, 2vw), 3rem);
}

.main-h1 {
	--min-font-size: 2rem;
	--adaptive-font-size: 5vw;
}

.text {
	letter-spacing: normal;
}

.notice {
	color: var(--notice-fore-color);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

p {
	text-align: justify;
}

.indent {
	margin: 2rem 1rem;
}

.centered {
	text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.article-image {
	max-height: 80vh;
}