.slide {
	position: relative;
	padding: 0;
}

.slide > img {
	padding: 0;
	height: 100%;
	object-fit: cover;
}

.slide .content {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	--transition-duration: 0.25s;

	transition: var(--transition-duration);
}

.slide .content.hover-anim:hover {
	background-color: rgba(0, 0, 0, 0.6);

}

.slide .content.hover-anim::before {
	position: absolute;
	content: '';
	bottom: 0; left: 0;
	width: 0;
	height: 3px;
	background-color: currentColor;
	transition: var(--transition-duration);
}

.slide .content.hover-anim:hover::before {
	width: 100%;
}